<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstaMate</title>
    <link rel="stylesheet" href="static\style.css">
    <link rel="shortcut icon" href="static\images\download\favicon.png" type="image/x-icon" />

</head>
<body>
    <div class="container">
        <di class="icon">
<img src="static\images\download.webp" alt="logo">
<center><button class="btn">
   <a href="/login"> let's Go</a>
</button></center>
    </div>
</di>
</body>
</html>