<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login | Instagram</title>
    <link rel="stylesheet" href="\static\login_style.css">
    <link rel="shortcut icon" href="static\images\download\favicon.png" type="image/x-icon" />
    <!-- <link rel="stylesheet" href="Demo_Fonts\Fontspring-DEMO-blue_vinyl_bold_ps_ot.otf"> -->
</head>

<body>
    <div class="wrapper">
        <form action="/login" method="post">
            {csrf_token}}
            <input type="hidden" name="csrf_token" value="{{ csrf_token()}}"/>
            <!-- <input type="hidden" name="csrf_token" value="{{ csrf_token }}"> -->
            <div class="instagram">
               Instagram
            </div>

            <h2>Login</h2>
            <div class="input-box">
                
                <input type="text" name="Username" placeholder=" Instagram Username" required>
            </div>
            <div class="input-box">
               
                <input type="password" name="Password"  placeholder=" Instagram Password" required>
            </div>
            <button class="btn" type="submit">Login</button>
        </form>
    </div>
</body>

</html>